examples {
  ["macos-custom-properties"] {
    """
    {
      "installHomebrew": true,
      "apps": [
        {
          "type": "ManualApp",
          "appPaths": [
            "/Applications/Wolfram.app"
          ],
          "name": "Wolfram"
        },
        {
          "type": "HomebrewCask",
          "appPaths": [
            "/Applications/Visual Studio Code.app"
          ],
          "caskName": "visual-studio-code"
        }
      ]
    }
    
    """
  }
  ["macos"] {
    """
    {
      "installHomebrew": true,
      "apps": [
        {
          "type": "ManualApp",
          "appPaths": [
            "/Applications/Wolfram.app"
          ],
          "name": "Wolfram"
        },
        {
          "type": "HomebrewCask",
          "appPaths": [
            "/Applications/Visual Studio Code.app"
          ],
          "caskName": "visual-studio-code"
        },
        {
          "type": "MacAppStoreApp",
          "appPaths": [
            "/Applications/Xcode.app"
          ],
          "appStoreId": 497799835
        }
      ]
    }
    
    """
  }
  ["steamos-extra-constraints"] {
    """
    {
      "hostname": "my-device",
      "steamOsSettings": {
        "steamDeveloperMode": false,
        "chargeLimit": 100
      },
      "steamSettings": {
        "twentyFourHourClock": true,
        "signIntoFriends": true
      },
      "installedFlatpaks": [
        "org.mozilla.firefox",
        "com.github.Matoking.protontricks"
      ],
      "decky": {
        "settings": {
          "updateChannel": "stable",
          "storeChannel": "default",
          "deckyUpdateNotification": true,
          "pluginUpdateNotification": true,
          "developerMode": false
        },
        "plugins": [
          {
            "name": "Brightness Bar",
            "directoryName": "decky-brightness-bar",
            "disabled": false
          },
          {
            "name": "HLTB for Deck",
            "directoryName": "hltb-for-deck",
            "disabled": true
          }
        ]
      },
      "enabledSystemdUnits": []
    }
    
    """
  }
  ["steamos"] {
    """
    {
      "hostname": "my-device",
      "steamOsSettings": {
        "steamDeveloperMode": true,
        "chargeLimit": 80
      },
      "steamSettings": {
        "twentyFourHourClock": true,
        "signIntoFriends": false
      },
      "installedFlatpaks": [
        "org.mozilla.firefox",
        "com.github.Matoking.protontricks"
      ],
      "decky": {
        "settings": {
          "updateChannel": "stable",
          "storeChannel": "default",
          "deckyUpdateNotification": true,
          "pluginUpdateNotification": true,
          "developerMode": true
        },
        "plugins": [
          {
            "name": "Brightness Bar",
            "disabled": false
          },
          {
            "name": "HLTB for Deck",
            "disabled": true
          }
        ]
      },
      "enabledSystemdUnits": [
        "sshd.service",
        "plugin_loader.service"
      ],
      "desktop": [
        "Return.desktop",
        "steam.desktop"
      ],
      "kdePlasmaDock": [
        "applications:systemsettings.desktop",
        "applications:org.kde.discover.desktop",
        "preferred://filemanager",
        "preferred://browser"
      ]
    }
    
    """
  }
}
